<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="navbar-brand">
        LaunchSequence
        <div class="day">
          {{lastCheckInDay.dayOfWeek}}, {{lastCheckInDay.dateDisplay}} 
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li>
            {{#link-to 'days'}}
              <span class="glyphicon glyphicon-flag"></span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'notes'}}
              <span class="glyphicon glyphicon-book"></span>
            {{/link-to}}
          </li>                   
      </ul>



  </div><!-- /.container -->
</div><!-- /.navbar -->


{{outlet modal}} 
<div class="container-fluid">
  {{outlet}}       
</div>
 