    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Launch Sequence</a> 
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li>{{#link-to 'days'}}Journal{{/link-to}}</li>
              <li>{{#link-to 'goals'}}Goals{{/link-to}}</li>
          </ul>
        </div><!-- /.nav-collapse -->  

        {{#unless checkedIn}}
          <button type="button" class="btn btn-default btn-sm navbar-checkin" {{action 'dailyCheckIn'}}>
            Check In
          </button>         
        {{/unless}}  

      </div><!-- /.container -->
    </div><!-- /.navbar -->

<!--
    <div class="container">
      <div class="row pull-right">
        <div class="col-xs-12 score-cell">          
          <button type="button" {{!bind-attr class="totalInvestmentsStyle"}}>{{!lastCheckInDay.totalInvestments}}</button>
          <small class="text-muted">total investments</small>            
        </div>
      </div>
    </div>
-->

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left" >      
        <div class="col-xs-12 col-sm-12">        
          {{outlet}}
        </div>
      </div><!--/row-->          
    </div><!--/.container-->