    <!-- header -->
    <div class="row md-title"> 
      <div class="col-xs-8">
        <h2>Goals</h2>
      </div>
      <div class="col-xs-4"><!-- add goal button-->
          {{#unless isNew}} 
            <button type="button" class="btn btn-default btn-sm pull-right" {{action 'adding'}}>
              Add Goal
            </button>
          {{/unless}}
      </div>
    </div>
  
    <!-- goal list -->        
    {{#each}}     
      {{view 'goal-view'}} {{!view App.GoalView}}
    {{/each}}